
*.pdf

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/49943ED/sources/s-98EA9CDC/lock_file

.Rproj.user/49943ED/sources/prop/

.Rproj.user/49943ED/sources/s-98EA9CDC/

.Rproj.user/shared/notebooks/19CE9938-Arne_Exercise1/1/s/c7kok5ecgx0ja/

.Rproj.user/shared/notebooks/19CE9938-Arne_Exercise1/1/s/c91vo566r2svw/

.Rproj.user/shared/notebooks/19CE9938-Arne_Exercise1/1/s/

.Rproj.user/shared/notebooks/222D0944-Thailand_2012/1/49943ED98EA9CDC/

.Rproj.user/shared/notebooks/222D0944-Thailand_2012/1/s/
